body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  height: 100dvh;
  grid-template-rows: auto min-content;
}

.map {
  height: 100%; 
  grid-column: 1/2;
  grid-row: 1/3;
}

main {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 1rem 1rem;
  z-index: 401;
}

button {
  font-size: 1.5rem;
  padding: 0.5em 1em;
}

dialog {
  border-radius: 4px;
}

::backdrop {
  /* background-image: linear-gradient( */
  /*   45deg, */
  /*   magenta, */
  /*   rebeccapurple, */
  /*   dodgerblue, */
  /*   green */
  /* ); */
  background-color: #000000ee;
  opacity: 0.75;
}
