body {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  height: 100vh;
  grid-template-rows: auto min-content;
}

.map {
  height: 100%; 
  grid-column: 1/2;
  grid-row: 1/3;
}

app-start {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 1rem;
  z-index: 401;
}

button {
  font-size: 1.5rem;
  padding: 0.5em 1em;
}
